body {
    background-color: rgb(159, 222, 254);
    min-height: 100vh;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container img {
    opacity: 0.5;
}

.class-footer {
    display: flex;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px 8px 10px;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 10px;
}

.quiz-answer:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.bg-success, .bg-danger {
    color: white;
}

.d-none {
    display: none;
}

.text-endscreen {
}

#endscreen {
}

.card-img-top {
    height: 50vh;
    align-items: center;
    object-fit: cover;
}

.progress {
    border-radius: 0;
    color: lightblue;
    background-color: lightblue;
}